{# Overwrites part of django's change_list template #}
{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{# Filter toggling #}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
(function ($) {
  $(document).ready(function () {
    $('#filter-header').click(function () {
      $('#changelist-filter').toggle();
      $('#filter-header>span').toggleClass('toggle-expanded toggle-collapsed');
    });
  });
})(django.jQuery);
</script>
{% endblock %}

{% block content %}
  <div id="content-main">
    {# display help text if given #}
    {% if cl.model_admin.list_help_text %}
      <div class="changelist_help_text">
        {{ cl.model_admin.list_help_text|safe }}
      </div>
    {% endif %}
    {% block object-tools %}{{ block.super }}{% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {# prominent extra admin actions like "Log in as organization" #}
      {% if cl.model_admin.list_action_link %}
        <h3 class="extra-action">{{ cl.model_admin.list_action_link|safe }}</h3>
      {% endif %}
      {% block search %}{{ block.super }}{% endblock %}
      {% block date_hierarchy %}{{ block.super }}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          {# wrapper and toggle element for filters #}
            <div id="changelist-filter">
              <h2>
                {% trans 'Filter' %}<span class="toggle-collapsed"></span>
              </h2>
              {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}{{ block.super }}{% endblock %}
      {% block pagination %}{{ block.super }}{% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
