{% extends "admin/index.html" %}

{% block sidebar %}
<div id="content-related" class="admin-sidebar">
  <div class="module">
    <h2>Links</h2>
    <h3><a href="/fund" target="_blank">Project Central</a></h3>
    <h3><a href="/apply" target="_blank">Grant Application</a></h3>
    <h3><a href="/admin/grants/search" target="_blank">Run a grants report</a></h3>
    <h3><a href="/admin/grants/givingprojectgrant/yer-status" target="_blank">YER status report</a></h3>
  </div>
  <div class="module">
    <h2>Report a problem</h2>
    <h3><a href="https://docs.google.com/forms/d/1ssR9lwBO-8Z0qygh89Wu5XK6YwxSmjIFUtOwlJOjLWw/viewform?entry.804197744={{user.username}}" target="_blank">Project Central</a></h3>
    <h3><a href="https://docs.google.com/forms/d/1SKjXMmDgXeM0IFp0yiJTJgLt6smP8b3P3dbOb4AWTck/viewform?entry.804197744={{user.username}}" target="_blank">Grant application</a></h3>
  </div>
  <div class="module">
    <h2>Additional resources</h2>
    <h3><a href="https://docs.google.com/forms/d/1srZAM_D4FDDt-AjJuOHqQlaysxJ5qH8kVKFOvsWZBVE/viewform?entry.1708036642={{user.username}}&entry.1767194948&entry.1155321034&entry.1319351054" target="_blank">Request a feature</a></h3>
    <h3><a href="mailto:techsupport@socialjusticefund.org" target="_blank">Email tech support</a></h3>
  </div>
  {# sidebar contents copied from django's index template, without trans trags or content-related wrapper #}
  <div class="module" id="recent-actions-module">
    <h2>Recent actions</h2>
    <h3>My actions</h3>
    {% load log %}
    {% get_admin_log 10 as admin_log for_user user %}
    {% if not admin_log %}
    <p>None available</p>
    {% else %}
    <ul class="actionlist">
      {% for entry in admin_log %}
      <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
        {% if entry.is_deletion or not entry.get_admin_url %}
        {{ entry.object_repr }}
        {% else %}
        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
        {% endif %}
        <br/>
        {% if entry.content_type %}
        <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
        {% else %}
        <span class="mini quiet">Unknown content</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock sidebar %}
