{% load dict_key %}

{% with form|key:field_id as formfield %}

{{ formfield.label}} {% if formfield.errors %}{{ formfield.errors }}{% endif %}
<form id="{{ field_id }}_form" class="files_form" action="" target="upload_frame"
                                                            method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
  <span class="file_wrapper">
    <span class="default-file-input">{{ formfield }}</span>
    <span class="upload_button">Choose file</span>
  </span>
  <input id="{{ field_id }}_submit" type="submit" value="Submit files" style="display:none;"/>
</form>
<span id="{{ field_id }}_uploaded">
  {% if field_id in files %}
  <a href="{{ files|key:field_id|key:'url' }}">{{ files|key:field_id|key:'filename' }}</a>
  {% endif %}
</span>
{% endwith %}
