/*------------------------------ General ------------------------------------*/

/* Modules - used across site */

/*------------------------------ Index ------------------------------------*/


/* Reduce spacing between sidebar sections */
#content-related .module {
  margin-bottom: 0;
}


/*--------------------------- Changelist ------------------------------------*/

/* Make filter collapsible to leave more room for results */
/*
#changelist.filtered {
  min-height: inherit;
}

#changelist-filter {
  display: none;
  position: relative !important;
}

#filter-header {
  padding: 7px 2px;
  font-size: 12px;
}

#filter-header>span{
  color: #fff;
  float: right;
}

.toggle-collapsed::after {
  content: '\25b2';
}

.toggle-expanded::after {
  content: '\25bc';
}
*/
