{% extends 'grants/base.html' %}

{% block title %}Grant cycle information | {{block.super}}{% endblock %}

{% block content %}
<div class="text-center">
<h2>{{ cycle.title }}</h2>
<p class="subheading"><i>{{ cycle.get_open_display }}</i></p>
{% if cycle.is_open %}
  <h4>
    Please review the information below before beginning the application
  </h4>
{% endif %}
</div>

<hr>
<div id="cycle-info">
  {{ content|safe }}
</div>
<hr>

{% if cycle.is_open %}
  {% include 'grants/includes/continue_to_application.html' %}
{% endif %}

{% endblock content %}
