{% extends 'grants/base.html' %}

{% block title %}Grant cycle information | {{block.super}}{% endblock %}

{% block content %}
<h2 class="text-center">Please review the information below before beginning the application</h2>

{% if cycle.is_open %}
  {% include 'grants/includes/continue_to_application.html' %}
  <hr>
{% endif %}

<div id="cycle-info">
  {{ content|safe }}
</div>

{% if cycle.is_open %}
  <hr>
  {% include 'grants/includes/continue_to_application.html' %}
{% endif %}

{% endblock content %}
