{% extends 'grants/base.html' %}

{% block title %}Home | {{ block.super }}{% endblock %}

{% block script %}
<script type="text/javascript">
  // confirmation window before discarding a draft
  function confirmation(draft_pk) {
    var conf = confirm("Discard this draft? It cannot be recovered.")
    if (conf) {
      $.ajax({
        url: '/apply/draft/' + draft_pk + '{{ user_override|default:'' }}',
        type: 'DELETE',
        error: function(jqXHR, textStatus) {
          logError({ jqXHR: jqXHR, textStatus: textStatus });
        },
        success: function(data, textStatus, jqXHR) {
          window.location.reload();
        }
      });
    }
  }
</script>
{% endblock script %}

{% block content %}
{% load tz %}{% load humanize %}

<div class="home-section">
  <div align="center">
    <h3>{{ organization }}</h3>
  </div>

  <h4>Saved drafts</h4>

  {% include 'grants/includes/list_drafts.html' %}
  {% include 'grants/includes/list_yer_drafts.html' %}
  {% if not drafts and not ydrafts %}
    <p>No saved drafts found</p>
  {% endif %}

  <h4>Submitted applications</h4>

  {% include 'grants/includes/list_submitted.html' %}

  <h4>Tools</h4>
  <ul>
    <li><a href="/apply/copy{{ user_override|default:'' }}">Copy/rollover an application</a></li>
    <li><a href="{% url 'sjfnw.grants.views.rollover_yer' %}{{ user_override|default:'' }}">Copy/rollover a year-end report</a></li>
  </ul>
</div>

<div class="home-section">
  <div align="center">
    <h3>Social Justice Fund grant cycles</h3>
  </div>

  <h4>Currently accepting applications</h4>

  {% include 'grants/includes/list_cycles.html' with cycles=open status='open' empty_text='No grants are being accepted at this time.' %}

  <h4>Upcoming grant cycles</h4>
  {% include 'grants/includes/list_cycles.html' with cycles=upcoming status='upcoming' empty_text='No upcoming grant cycles found.' %}

  <h4>Recently closed grant cycles</h4>
  {% include 'grants/includes/list_cycles.html' with cycles=closed status='closed' empty_text='No grant cycles closed in the last 6 months.' %}
</div>

{% endblock content %}
