{% extends 'grants/base.html' %}
{% block title %}Application form | {{ block.super }}{% endblock %}
{% block script %}
{{ block.super }}
<script type="text/javascript" src="/static/js/forms.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript">

var user_id = '';

function setUserID() {
  var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
  var result = '';
  for (var i = 16; i > 0; --i){
    result += chars[Math.round(Math.random() * (chars.length - 1))];
  }
  user_id = result;
  return user_id;
}

/**
 * Show modal with conflict warning.
 *
 * @param {number} trigger - what is triggering the warning
 *   determines which dialog to show. valid options: 'open', 'autosave'
 */
function showConflictWarning(trigger){
  if (trigger !== 'open' && trigger !== 'autosave') {
    return;
  }
  // scroll to top so they don't miss the modal
  window.scrollTo(0, 0);

  const elId = '#override_dialog_' + trigger;

  $(elId).dialog({
    title: 'Warning: simultaneous editing',
    modal: true,
    buttons: [
      {
        text:'Proceed anyway',
        click: function(){
          $(elId).dialog("close");
          autoSave.save(false, true);
          autoSave.resume();
        }
      },{
        text:'Cancel',
        click: function (){
          location.href = '/apply/';
        }
      }
    ],
    closeOnEscape: false,
    resizable: false,
    position: {my: 'top', at: 'top', of: '#org-wrapper'},
    width: 400
  });
}


function showMoreInfo(show_id) {
  div = show_id + '-info';
  console.log('showing ' + div);
  div = document.getElementById(div);
  if (div) {
    console.log(div);
    div.style.display = 'block';
  } else {
    console.error('info to show not found');
  }
}

function hide(id) {
  div = document.getElementById(id);
  if (div) {
    div.style.display = 'none';
  } else {
    console.error('Div to hide not found');
  }
}

function setInfoClicks(){
  console.log('setInfoClicks');
  $('.has-more-info').each(function(index) {
      if (this.id) {
        this.onclick = function(){ showMoreInfo(this.id); };
        console.log('Linked ' + this.id);
      } else {
        console.log('Error - has-more-info without an id');
      }
  });
  $('.more-info').each(function(i) {
      this.innerHTML = this.innerHTML + '<div class="more-info-hide">click to hide</div>';
      this.onclick = function() { hide(this.id); };
  });
}

$(document).ready(function() {
  formUtils.init('apply', {{ draft.pk }}, {{ cycle.pk }}, setUserID(), '{{ user_override|default:"" }}');

  var word_limited = $('textarea.wordlimited');
  word_limited.on('keyup', updateWordCount)
  word_limited.keyup();

  //check whether it was edited recently -- show override confirmation
  if ('{{ flag }}' == 'True'){
    autoSave.pause();
    showOverrideWarning(1);
  }
  // more info toggles
  setInfoClicks();
});

</script>
{% endblock script %}

{% block content %}
{% load tz %}

<div id="override_dialog_open" style="display:none;">
  <input type="hidden" autofocus="autofocus" />
  You may be seeing this message because:
  <ul>
    <li>You just refreshed this page or closed and re-opened it</li>
    <li>You have this page open in another tab or window</li>
    <li>Someone else has this application form open</li>
  </ul>
  Only one person should work on an application at a time.  If you proceed, your saves will overwrite any other changes that are being made from other sources.
</div>

<div id="override_dialog_autosave" style="display:none;">
  <input type="hidden" autofocus="autofocus" />
  The last autosave did not complete due to a potential conflict.  You may be seeing this if:
  <ul>
    <li>You have this application open in another tab or window</li>
    <li>Someone else in your org has started editing this application</li>
  </ul>
  Only one person should work on an application at a time.  If you proceed, your changes will be saved and will overwrite concurrent changes from other sources.
</div>

{% with 'grants/includes/form_row.html' as row_template %}
<div class="formwrapper">
  <form id="non_file" action="/apply/{{ cycle.pk }}/{{ user_override|default:''}}" method="POST" accept-charset="UTF-8">

    <div align="center">
      <h1>{{cycle}} Application</h1>
      {% if user_override %}<h1>Applying as {{ org }}</h1>{% endif %}
      {% if cycle.info_page %}<p><a href="/apply/info/{{ cycle.pk }}" target="_blank">application instructions</a></p>{% endif %}
      {% include 'grants/includes/last_saved.html' with interval=60 %}
    </div>

    {% if form.errors %}
      <div class="error-header">Please resolve the errors below and try submitting again.</div>
    {% endif %}

    {% autoescape off %}
    <div id="application_form">

      <div class="row">
        <div class="col col-3of4">
          <h4>Organization and Grant Request Profile</h4>
        </div>
        {% if profiled %}
        <div class="col col-1of4 text-right">
          <div id="autofilled" title="As a convenience, some information has been automatically filled in based on your most recent submitted application.  It can be removed or overwritten as needed.">
            Pre-filled <img class="info" src="/static/images/info.png">
          </div>
        </div>
        {% endif %}
      </div>

      {% include row_template with left=form.address right=form.city %}
      {% include row_template with left=form.state right=form.zip %}
      {% include row_template with left=form.telephone_number right=form.fax_number %}
      {% include row_template with left=form.email_address right=form.website %}

      <div class="row">{{ form.status.label_tag }}{{ form.status }}{{ form.status.errors }}</div>

      {% include row_template with left=form.ein right=form.founded %}

      <div class="row">{{ form.contact_person.help_text }}</div>
      {% include row_template with left=form.contact_person right=form.contact_person_title %}

      <div class="row">
        {{ form.mission.label_tag }}{{ form.mission.errors }}
        <span class="wordcount" id="mission_wordcount"></span>
        {{ form.mission }}
      </div>

      <div class="row">{{ form.previous_grants.label_tag }}{{ form.previous_grants.errors }}</div>
      <div class="row">{{ form.previous_grants }}</div>

      <div class="row">{{ form.start_year.label_tag }}{{ form.start_year }}{{ form.start_year.errors }}</div>

      {% include row_template with left=form.budget_last right=form.budget_current %}

      <div class="row">* Upload budget files at the bottom of the form.</div>

      <div class="row">
        {{ form.grant_period.label_tag }}{{ form.grant_period }}{{ form.grant_period.errors }}
      </div>

      {% include row_template with left=form.amount_requested right=form.support_type %}
      {% include row_template with left=form.project_title right=form.project_budget %}
      <div class="row">
        {{ form.grant_request.label_tag }}{{ form.grant_request.errors }}
        <span class="wordcount" id="grant_request_wordcount"></span>
        {{ form.grant_request }}
      </div>

      <div class="row"><u>Fiscal sponsor information (if applicable)</u></div>
      {% include row_template with left=form.fiscal_org right=form.fiscal_person %}
      {% include row_template with left=form.fiscal_telephone right=form.fiscal_email %}
      {% include row_template with left=form.fiscal_address right=form.fiscal_city %}
      {% include row_template with left=form.fiscal_city right=form.fiscal_zip %}
      <div class="row">* Upload fiscal letter at the bottom of the form if applicable.</div>
    </div>

    <h4>Narratives</h4>

    <p>Be as specific as possible when responding to each item. Your responses will reflect on the soundness of your organizational structure, your social change strategy and your organizing plan.  Please keep in mind that the strength of your written application will significantly influence the overall score you receive in the decision-making process. <img class="info" src="/static/images/info.png" title="See Social Justice Fund's Grantmaking Criteria, included in the application instructions linked at the top of the page.">
    </p>

    <ol class="narratives">
      {% for field in form.get_narrative_fields %}
      <li>
        {{ field.label }}{{ field.errors }}{{ field }}
        <div class="wordcount" id="{{ field.name }}_wordcount"></div>
      </li>
      {% endfor %}
    </ol>
    <input id="hidden_submit_app" type="submit" value="Submit EVERYTHING" style="display:none;"/>
  </form>

  {# hidden iframe for file submissions #}
  <iframe class="upload" id="id_upload_frame" name="upload_frame" onload="fileUploads.iframeUpdated(this);"></iframe>

  <h4>File uploads</h4>
  <p><a href="/apply/info/{{ cycle.pk }}" target="_blank">Download templates here.</a></p>
  <p>Templates for budgets, funding sources and diversity chart can be downloaded above. For budget documents, you may use your own format if preferred.</p>

  <div class="row">1. Budget documents</div>
  {% include 'grants/includes/file_upload.html' with field_id='budget1' %}
  {% include 'grants/includes/file_upload.html' with field_id='budget2' %}
  {% include 'grants/includes/file_upload.html' with field_id='budget3' %}
  {% include 'grants/includes/file_upload.html' with field_id='project_budget_file' %}
  {% include 'grants/includes/file_upload.html' with field_id='demographics' number=2 %}
  {% include 'grants/includes/file_upload.html' with field_id='funding_sources' number=3 %}
  {% include 'grants/includes/file_upload.html' with field_id='fiscal_letter' number=4 %}

  {% endautoescape %}

  <div align="center">
    <img class="ajax-loading" src="/static/images/ajaxloader.gif" style="display:none;">
    <br>
    <button class="submit" onclick="autoSave.save(true);">Submit application</button>
    {% include 'grants/includes/last_saved.html' with interval=60 %}
  </div>
</div>
{% endwith %}
{% endblock content %}
