Greetings,

You are receiving this email because you requested that your password for {{user.username}} be reset for the Social Justice Fund online grant application at {{protocol}}://{{domain}}/{% url 'grants:home' %}.  If you do not wish to reset your password, please ignore this message.

To reset your password, please click the following link, or copy and paste it into your web browser:
{{protocol}}://{{domain}}{% url 'grants:reset_confirm' uidb64=uid token=token %}

Best regards,
Social Justice Fund
