{% extends 'grants/base.html' %}

{% block title %}Grant application - {{ block.super }}{% endblock title %}
{% block body %}
{% block sidebar %}{% endblock %}

{% block main %}
<div id="grant_reading">
  {% autoescape off %}{% load humanize %}
  {% if not file_urls %}{# if template is loaded in its own window #}
  <h2 class="text-center">{{app.organization}} - {{app.grant_cycle}}</h2>
  {{app.submission_time|date:"F j, Y"}}
  {% endif %}

  <h2>Organization and Grant Request Profile</h2>

  <div class="row">{{form.address.label_tag}}{{app.address}} {{app.city}}, {{app.state}} {{app.zip}}</div>
  <div class="row">
    <div class="col col-1of2">{{form.telephone_number.label_tag}}{{app.telephone_number}}</div>
    <div class="col col-1of2">{{form.fax_number.label_tag}}{{app.fax_number}}</div>
  </div>
  <div class="row">
    <div class="col col-1of2">{{form.email_address.label_tag}}{{app.email_address}}</div>
    <div class="col col-1of2">{{form.website.label_tag}}{{app.website}}</div>
  </div>
  <div class="row">
    <div class="col col-1of2"><label>{{form.contact_person.help_text}}</label></div>
    <div class="col col-1of2">{{app.contact_person}}, {{app.contact_person_title}}</div>
  </div>
  <div class="row">
    <div class="col col-1of2">{{form.status.label_tag}}{{app.status}}</div>
    <div class="col col-1of2">{{form.founded.label_tag}}{{app.founded}}</div>
  </div>
  <div class="row">{{form.ein.label_tag}}{{app.ein}}</div>
  <div class="row">{{form.mission.label_tag}}{{app.mission|linebreaks}}</div>
  <div class="row">
    <div class="col col-1of2">{{form.start_year.label_tag}}{{app.start_year}}</div>
    <div class="col col-1of2">{{form.grant_period.label_tag}}{{app.grant_period|default:"n/a"}}</div>
  </div>
  <div class="row">
    <div class="col col-1of2">{{form.budget_last.label_tag}}${{app.budget_last|intcomma}}</div>
    <div class="col col-1of2">{{form.budget_current.label_tag}}${{app.budget_current|intcomma}}</div>
  </div>
  <div class="row">{{form.previous_grants.label_tag}}{{app.previous_grants}}</div>
  <div class="row">
    <div class="col col-1of2">{{form.amount_requested.label_tag}}${{app.amount_requested|intcomma}}</div>
    <div class="col col-1of2">{{form.support_type.label_tag}}{{app.support_type}}</div>
  </div>
  <div class="row">
    <div class="col col-1of2">{{form.project_title.label_tag}}{{app.project_title|default:"n/a"}}</div>
    {%if app.project_budget%}
    <div class="col col-1of2">{{form.project_budget.label_tag}}${{app.project_budget|intcomma}}</div>
    {%endif%}
  </div>
  <div class="row">{{form.grant_request.label_tag}}{{app.grant_request|linebreaks}}</div>
  {%if app.fiscal_org%}
  <div class="row"><label>Fiscal sponsor information</label></div>
  <div class="row">
    <div class="col col-1of2">{{form.fiscal_org.label_tag}}{{app.fiscal_org|default:"N/A"}}</div>
    <div class="col col-1of2">{{form.fiscal_person.label_tag}}{{app.fiscal_person}}</div>
  </div>
  <div class="row">
    <div class="col col-1of2">{{form.fiscal_address.label_tag}}{{app.fiscal_address}} {{app.fiscal_city}}, {{app.fiscal_state}} {{app.fiscal_zip}}</div>
    <div class="col col-1of2">{{form.fiscal_telephone.label_tag}}{{app.fiscal_telephone}}</div>
  </div>
  <div class="row">{{form.fiscal_email.label_tag}}{{app.fiscal_email}}</div>
  {% endif %}

  <h2>Narratives</h2>
  <ol class="narratives">
    {% for answer in answers %}
    <li>
      <label>{{ answer.cycle_narrative.narrative_question.text }}</label>
      {{ answer.get_display_value|linebreaks }}
    </li>
    {% endfor %}
  </ol>
  {# TODO references #}
  {% endautoescape %}
</div>
{% endblock main %}

{% endblock body %}
