{% extends 'grants/reading.html' %}

{% block script %}
{{ block.super }}
<script type="text/javascript">
  var first = true;

  function showMain() {
    console.log('showMain');
    $('#grant_reading').show();
    $('#reading_frame').hide();
  }

  function showAttachment(){
    console.log('showAttachment');
    if (first) {
      console.log('first');
      first = false;
    } else {
      console.log('not first');
      $('#reading_frame').show();
      $('#grant_reading').hide();
    }
  }
</script>
{% endblock script %}

{% block sidebar %}
<div class="reading_sidebar">

  <div class="title">
    <div class="heading_sm_margin">{{app.organization}}</div>
    <div class="heading_sm_margin">{{app.grant_cycle}}</div>
    {{app.submission_time|date:"F j, Y"}}
  </div>

  <div class="contents">
    <a onclick="showMain()">Application form</a>
    <a href="?form=1" target="_blank">
      <img class="print" title="Open in new tab for printing" src="/static/images/print.png">
    </a>
    <br><br>
    Uploaded files:
    <ol class="contents">
      {% include 'grants/includes/reading_sidebar_file.html' with field='fiscal_letter' display_name='Fiscal letter' %}
      {% include 'grants/includes/reading_sidebar_file.html' with field='budget' display_name='Budget' %}
      {% include 'grants/includes/reading_sidebar_file.html' with field='budget1' display_name='Annual statement' %}
      {% include 'grants/includes/reading_sidebar_file.html' with field='budget2' display_name='Annual operating budget' %}
      {% include 'grants/includes/reading_sidebar_file.html' with field='budget3' display_name='Balance sheet' %}
      {% include 'grants/includes/reading_sidebar_file.html' with field='project_budget_file' display_name='Project budget' %}
      {% include 'grants/includes/reading_sidebar_file.html' with field='funding_sources' display_name='Funding sources' %}
      {% include 'grants/includes/reading_sidebar_file.html' with field='demographics' display_name='Diversity chart' %}
    </ol>
  </div>

  {% if app.site_visit_report %}
    {% if perm == 1 or perm == 2 %}
      <a href="{{app.site_visit_report}}" target="reading_frame">Site visit report</a>
      <a href="{{app.site_visit_report}}" target="_blank">
        <img class="print" title="Open in new tab for printing" src="/static/images/print.png">
      </a>
    {% endif %}
  {% endif %}

  {% load humanize %}
  {% if awards %}
    <p><b>Awards:</b></p>
      {% for gp, award in awards.iteritems %}
        <p>{{ gp }} - ${{ award.total_amount|intcomma }}</p>
        {% for yer in award.yearendreport_set.all %}
          {% if perm > 1 or yer.visible and perm == 1 %}
            <a href="{% url 'grants.views.view_yer' report_id=yer.pk %}?embedded=true"
               target="reading_frame">View year end report
            {% if award.grant_length > 1 %}
              #{{ forloop.counter }}</a><br>
            {% else %}
            </a>
            {% endif %}
          {% endif %}
        {% endfor %}
        <br>
    {% endfor %}
  {% endif %}
</div>
{% endblock sidebar %}

{% block main %}
<div class="reading_pane">
  {{ block.super }}
  <iframe id="reading_frame" name="reading_frame" src="" onload='showAttachment()' style="display:none;">
</div>
{% endblock %}
