{% extends 'grants/base.html' %}

{% block title %}Year-end Report | {{ block.super }}{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/forms.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    formUtils.init('report', {{ draft.pk }}, {{ award.pk }}, '', '{{ user_override }}');
  });
</script>
{% endblock script %}

{% block content %}

<div>

  <div class="text-center">
    <h2>{{ award }}</h2>
    <h2>Year-end Report for {{ yer_period }}</h2>
    {% if user_override %}<h2>Filling out on behalf of {{ org }}</h2>{% endif %}
    {% include 'grants/includes/last_saved.html' with interval=30 %}
  </div>

  {% if form.errors %}
  <div class="error-header">Please resolve the errors below and try submitting again.</div>
  {% endif %}

  <form id="yer-form" action="" method="POST" accept-charset="UTF-8">

    <div class="row">
      {{ form.contact_person.label_tag }}{{ form.contact_person }} {{ form.contact_person.errors }}
    </div>
    <div class="row-sm">
      <div class="col col-1of3">{{ form.email.errors }}</div>
      <div class="col col-1of3">{{ form.phone.errors }}</div>
      <div class="col col-1of3">{{ form.website.errors }}</div>
    </div>
    <div class="row">
     <div class="col col-1of3">{{ form.email.label_tag }}{{ form.email }}</div>
     <div class="col col-1of3">{{ form.phone.label_tag }}{{ form.phone }}</div>
     <div class="col col-1of3">{{ form.website.label_tag }}{{ form.website }}</div>
   </div>

    <div class="narrative_q">
      {{ form.summarize_last_year.label_tag }}
      {{ form.summarize_last_year.errors }}
      {{ form.summarize_last_year }}
    </div>
    <div class="narrative_q">
      {{ form.goal_progress.label_tag }}
      {{ form.goal_progress.errors}}
      {{ form.goal_progress }}
    </div>
    <div class="narrative_q">
      {{ form.quantitative_measures.label_tag }}
      {{ form.quantitative_measures.errors}}
      {{ form.quantitative_measures }}
    </div>
    <div class="narrative_q">
      {{ form.evaluation.label_tag }}
      {{ form.evaluation.errors}}
      {{ form.evaluation }}
    </div>
    <div class="narrative_q">
      {{ form.achieved.label_tag }}
      {{ form.achieved.errors}}
      {{ form.achieved }}
    </div>
    <div class="narrative_q">
      {{ form.collaboration.label_tag }}
      {{ form.collaboration.errors}}
      {{ form.collaboration }}
    </div>
    <div class="narrative_q">
      {{ form.new_funding.label_tag }}
      {{ form.new_funding.errors}}
      {{ form.new_funding }}
    </div>
    <div class="narrative_q">
      {{ form.major_changes.label_tag }}
      {{ form.major_changes.errors}}
      {{ form.major_changes }}
    </div>
    <div class="row">
      {{ form.total_size.label_tag }}
      {{ form.total_size.errors}}
      {{ form.total_size }}
    </div>
    <div class="row">
      {{ form.donations_count.label_tag }}
      {{ form.donations_count.errors}}
      {{ form.donations_count }}
      <div>
        {{ form.donations_count_prev.label_tag }}
        {{ form.donations_count_prev.errors}}
        {{ form.donations_count_prev }}
      </div>
    </div>
    <div class="narrative_q">
      {{ form.stay_informed.label_tag }}
      {{ form.stay_informed.errors}}
      {{ form.stay_informed }}
      <div class="row">
        <div class="col col-1of3">{{ form.listserve.label }}: {{ form.listserve }}</div>
        <div class="col col-1of3">{{ form.sit_website.label }}: {{ form.sit_website }}</div>
        <div class="col col-1of3">{{ form.newsletter.label }}: {{ form.newsletter }}</div>
      </div>
      <div class="row">
        <div class="col col-1of3">{{ form.facebook.label }}: {{ form.facebook }}</div>
        <div class="col col-1of3">{{ form.twitter.label }}: {{ form.twitter }}</div>
        <div class="col col-1of3">{{ form.other.label }}: {{ form.other }}</div>
      </div>
    </div>
    <div class="narrative_q">
      {{ form.other_comments.label_tag }}
      {{ form.other_comments.errors}}
      {{ form.other_comments }}
    </div>

    <input id="hidden_submit_app" type="submit" value="Submit EVERYTHING" style="display:none;"/>

  </form> {# end non-file form #}

  <iframe class="upload" id="id_upload_frame" name="upload_frame" onload="fileUploads.iframeUpdated(this); console.log('iframe onload');"></iframe>

  {% autoescape off %}

  <div class="row"><p>13. {{ form.photo1.help_text }}</p></div>
  <div class="row">
    <div class="col col-1of2">{{ form.photo1.errors }}</div>
    <div class="col col-1of2">{{ form.photo3.errors }}</div>
  </div>
  <div class="row">
    <div class="col col-1of4">
      <form class="files_form" id="photo1_form" action="" target="upload_frame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
        1.
        <span class="file_wrapper">
          <span class="default-file-input">{{ form.photo1 }}</span>
          <span class="upload_button">Choose file</span>
        </span>
        <input id="photo1_submit" type="submit" value="Submit files" style="display:none;">
      </form>
    </div>
    <div class="col col-1of4">
      <span id="photo1_uploaded">{{ file_urls.photo1 }}</span>
    </div>
    <div class="col col-1of4"><form class="files_form" id="photo3_form" action="" target="upload_frame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
        3.
        <span class="file_wrapper">
          <span class="default-file-input">{{ form.photo3 }}</span>
          <span class="upload_button">Choose file</span>
        </span>
        <input id="photo3_submit" type="submit" value="Submit files" style="display:none;">
      </form>
    </div>
    <div class="col col-1of4">
      <span id="photo3_uploaded">{{ file_urls.photo3 }}</span>
    </div>
  </div>
  <div class="row-sm">
    <div class="col col-1of2">{{ form.photo2.errors }}</div>
    <div class="col col-1of2">{{ form.photo4.errors }}</div>
  </div>
  <div class="row">
    <div class="col col-1of4"><form class="files_form" id="photo2_form" action="" target="upload_frame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
        2.
        <span class="file_wrapper">
          <span class="default-file-input">{{ form.photo2 }}</span>
          <span class="upload_button">Choose file</span>
        </span>
        <input id="photo2_submit" type="submit" value="Submit files" style="display:none;">
      </form>
    </div>
    <div class="col col-1of4">
      <span id="photo2_uploaded">{{ file_urls.photo2 }}</span>
    </div>
    <div class="col col-1of4"><form class="files_form" id="photo4_form" action="" target="upload_frame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
        4.
        <span class="file_wrapper">
          <span class="default-file-input">{{ form.photo4 }}</span>
          <span class="upload_button">Choose file</span>
        </span>
        <input id="photo4_submit" type="submit" value="Submit files" style="display:none;">
      </form>
    </div>
    <div class="col col-1of4">
      <span id="photo4_uploaded">{{ file_urls.photo4 }}</span>
    </div>
  </div>
  <div class="row">
    <p>{{ form.photo_release.label_tag }}<br>
      (Download blank photo release: <a href="/static/files/photo-release-english.docx">english</a>,
      <a href="/static/files/photo-release-spanish.docx">español</a>)
    </p>
    {{ form.photo_release.errors }}
  </div>
  <div class="row">
    <div class="col col-1of4">
        <form class="files_form" id="photo_release_form" action="" target="upload_frame"
          method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
        <span class="file_wrapper">
          <span class="default-file-input">{{ form.photo_release }}</span>
          <span class="upload_button">Choose file</span>
        </span>
        <input id="photo_release_submit" type="submit" value="Submit files" style="display:none;">
      </form>
    </div>
    <div class="col col-3of4">
      <span id="photo_release_uploaded">{{ file_urls.photo_release }}</span>
    </div>
  </div>
  {% endautoescape %}

  <div class="text-center">
    <img class="ajax-loading" src="/static/images/ajaxloader.gif" style="display:none;"><br>
    <button class="submit" onclick="autoSave.save({ submit: true });">Submit</button>
    {% include 'grants/includes/last_saved.html' with interval=30 %}
  </div>
</div>
{% endblock content %}
